:root {
  --main-color: #ffffff;
  --main-text-color: #2e2f42;
  --second-text-color: #e5e5e5;
  --logo-web-color: #4d5ae5;
  --main-link-color: #434455;
  --header-focus-hover-color: #404bbf;
  --button--focus-hover-color: #9747ff;
  --section-second-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-color);
  background: var(--main-color);
}

/* Header */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-address-list {
  display: flex;
  gap: 40px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  gap: 40px;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-web-color);
  display: flex;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-navigation {
  background: var(--main-color);
  display: flex;
  align-items: center;
}
.header-navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  display: flex;
  margin-right: 76px;
}
.header-link-adress:focus,
.header-link-adress:hover {
  color: var(--header-focus-hover-color);
  display: flex;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--logo-web-color);
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  display: flex;
}
.nav-link {
  color: var(--main-text-color);
}

.header-link-adress {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
  display: flex;
}
.header-address {
  margin-left: auto;
}

/* Section 2 */
.solutions {
  background: var(--main-text-color);
  padding-top: 188px;
  padding-bottom: 292px;
}
.solutions-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-align: center;
  width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */

.btn {
  color: var(--main-color);
  background: var(--logo-web-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  min-width: 169px;
  height: 56px;
  border: 0;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  text-align: center;
}
.btn:hover,
:focus {
  color: var(--main-color);
  background: var(--header-focus-hover-color);
}

/* Section 3 */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  display: flex;
  gap: 24px;
  max-width: 1128px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-text-color);
}
.features-text-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
}
/* Section What are we doing */
.examples {
  padding-top: 120px;
  padding-bottom: 120px;
}
.examples-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
  text-transform: capitalize;
}
.examples-text-list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
}

/* Section Our Team */

.team {
  background: var(--section-second-color);
  padding-top: 120px;
  padding-bottom: 0px;
  height: 732px;
}

.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
  width: 162px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  display: flex;
  gap: 24px;
  background-color: var(--main-color);
  padding-top: 72px;
  padding-bottom: 120px;
  max-width: 1158px;
}

.team-text-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
  text-align: center;
}

/*  Footer */
.footer {
  background: var(--main-text-color);
  padding: 100px 0;
}
.footer-container {
  width: 264px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
  padding-right: auto;
  margin-top: 16px;
}

.footer-link:hover {
  color: var(--header-focus-hover-color);
  background: var(--main-text-color);
  display: block;
  max-width: 1158px;
  display: flex;
}
.footer-link:focus {
  color: var(--header-focus-hover-color);
  background: var(--main-text-color);
  display: flex;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
  display: block;
}
.footer-navigation-logo {
  color: var(--section-second-color);
  display: flex;
}

/* Portfolio */
.portfolio {
  padding-top: 96px;
  padding-right: auto;
  padding-bottom: 120px;
  padding-left: auto;
}
.text-images-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.text-discription-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
}
.btn-portfolio {
  background: var(--section-second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web-color);
  cursor: pointer;
  border: 0;
  font-family: inherit;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: center;
}
.btn-portfolio:focus {
  background: var(--header-focus-hover-color);
  color: var(--section-second-color);
}
.btn-portfolio:hover {
  background: var(--header-focus-hover-color);
  color: var(--section-second-color);
}
.porfolio-container {
  display: flex;
  flex-wrap: wrap;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.portfolio-list-btn {
  display: flex;
  gap: 24px;
  padding-bottom: 72px;
  margin: 0 auto;
  justify-content: center;
}
.images-list {
  row-gap: 24px;
  display: flex;
}
